# Filtering and Ordering - Lab

## Introduction
In this lab, you will write more `SELECT` statements to solidify your ability to query a SQL database. You will also write more specific queries using the tools you learned in the previous lesson.

## Objectives
You will be able to:
* Limit the number of records returned by a query using `LIMIT`
* Filter results using `BETWEEN` and `IS NULL`
* Order the results of your queries by using `ORDER BY` (`ASC` & `DESC`)

### Famous Dogs

Here's a database full of famous dogs!  The `dogs` table is populated with the following data:

|name      |age    |gender |breed           |temperament|hungry |
|----------|-------|-------|----------------|-----------|-------|
|Snoopy    |3      |M      |beagle          |friendly   |1      |
|McGruff   |10     |M      |bloodhound      |aware      |0      |
|Scooby    |6      |M      |great dane      |hungry     |1      |
|Little Ann|5      |F      |coonhound       |loyal      |0      |
|Pickles   |13     |F      |black lab       |mischievous|1      |
|Clifford  |4      |M      |big red         |smiley     |1      |
|Lassie    |7      |F      |collie          |loving     |1      |
|Snowy     |8      |F      |fox terrier     |adventurous|0      |
|NULL      |4      |M      |golden retriever|playful    |1      |

## Connecting to the Database

First, import sqlite3 and establish a connection to the database **dogs.db**. Then, create a cursor object so that you can pass SQL queries to the database.

In [1]:
#Your code here; import sqlite, create a connection and then a cursor object.
import pandas as pd
import sqlite3
conn= sqlite3.connect('dogs.db')
c= conn.cursor()

## Queries

Display the outputs for each of the following query descriptions.

* Select the name and breed for all female dogs

In [2]:
#Your code here
c.execute('''SELECT name, breed
            FROM dogs
            WHERE gender = 'F'
            ;''').fetchall()

[('Little Ann', 'coonhound'),
 ('Pickles', 'black lab'),
 ('Lassie', 'collie'),
 ('Snowy', 'fox terrier')]

* Select the names of all dogs listed in alphabetical order.  Notice that SQL lists the nameless dog first.

In [3]:
#Your code here
c.execute('''SELECT name
            FROM dogs
            ORDER BY name
            ;''').fetchall()

[(None,),
 ('Clifford',),
 ('Lassie',),
 ('Little Ann',),
 ('McGruff',),
 ('Pickles',),
 ('Scooby',),
 ('Snoopy',),
 ('Snowy',)]

* Select any dog that doesn't have a name

In [5]:
#Your code here
c.execute('''SELECT * FROM dogs WHERE name IS null;''').fetchall()

[(9, None, 4, 'M', 'golden retriever', 'playful', 1)]

* Select the name and breed of only the hungry dogs and lists them from youngest to oldest

In [6]:
#Your code here
c.execute('''SELECT name, breed FROM dogs WHERE hungry IS 1 ORDER BY age;''').fetchall()

[('Snoopy', 'beagle'),
 ('Clifford', 'big red'),
 (None, 'golden retriever'),
 ('Scooby', 'great dane'),
 ('Lassie', 'collie'),
 ('Pickles', 'black lab')]

* Select the oldest dog's name, age, and temperament

In [7]:
#Your code here
c.execute('''SELECT name, age, temperament FROM dogs ORDER BY age DESC LIMIT 1;''').fetchall()

[('Pickles', 13, 'mischievous')]

* Select the three youngest dogs

In [8]:
#Your code here
c.execute('''SELECT * FROM dogs ORDER BY age LIMIT 3;''').fetchall()

[(1, 'Snoopy', 3, 'M', 'beagle', 'friendly', 1),
 (6, 'Clifford', 4, 'M', 'big red', 'smiley', 1),
 (9, None, 4, 'M', 'golden retriever', 'playful', 1)]

* Select the name and breed of only the dogs who are between five and ten years old

In [11]:
#Your code here
c.execute('''SELECT name, breed, age FROM dogs WHERE age BETWEEN 5 and 10;''').fetchall()

[('McGruff', 'bloodhound', 10),
 ('Scooby', 'great dane', 6),
 ('Little Ann', 'coonhound', 5),
 ('Lassie', 'collie', 7),
 ('Snowy', 'fox terrier', 8)]

* Select the name, age, and hungry columns for hungry dogs between the ages of two and seven.  This query should also list these dogs in alphabetical order.

In [12]:
#Your code here
c.execute('''SELECT name, age, hungry FROM dogs WHERE age BETWEEN 2 AND 7 ORDER BY name;''').fetchall()

[(None, 4, 1),
 ('Clifford', 4, 1),
 ('Lassie', 7, 1),
 ('Little Ann', 5, 0),
 ('Scooby', 6, 1),
 ('Snoopy', 3, 1)]

In [13]:
c.description

(('name', None, None, None, None, None, None),
 ('age', None, None, None, None, None, None),
 ('hungry', None, None, None, None, None, None))

In [23]:
a = c.description[0]

In [18]:
df= pd.DataFrame(c.fetchall())
df.columns= [x[0] for x in c.description]
df

ValueError: Length mismatch: Expected axis has 0 elements, new values have 3 elements

## Summary

Great work! In this lab you practiced writing more complex SQL statements to not only query specific information but also define the quantity of results and the order of your results.